// global styles and variables
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

// colors
$purple: rgb(159, 104, 235);
$lightgrey: #F5f5f5;
$dark: rgb(22, 28, 41);

$green: #00cc86;
$lightgreen: #bafacd;

$red: #dc3900;
$lightred: #ffe5e3;


// Updating Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $purple;

// Updating some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: $red;
$input-shadow: none;
